<!DOCTYPE html>
<html lang="en">
<head>
     <%- include('./parts/head') %>
     
     <title>Admin | Doctors</title>
     
  </head>
<body>
     <%- include('./parts/navbar_admin') %>
     
   <section id="List" data-stellar-background-ratio="3">
    <div class="container">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">DOCTORS</h2>
          </div>
          </div>
          <form class="d-flex" action="/home/Doctors" method="post">

            <div class="col-md-12 col-sm-6">
              <input type="input" name="search" placeholder="Search for" class="search-">
              <input type="submit"  value="Search" class="btn-search">
            </div>
            <input type="button" onclick="console.log('hey');" name="date" value="Next page" class="btn-next">
          </form>
    </div>
      <div class="container mt-1">
        <% if(data.length>0){ %>
            <% for(var i=0; i<data.length; i++){ %>
              <div class=" list_Card">
                  <div class="content-main">
                    <div class="">#<%=data[i].id  %>  </div>

                    <div class=""><%=data[i].fullname  %>  </div>
                    <div class=""><%=data[i].username  %>   </div>
                    <div class="time"><%=data[i].date  %> </div>
                     <div class="time"><%=data[i].health_category  %> </div>
                    <div class="button-wrap">
                  
                        <a href="/delete/<%=data[i].id_random %>" class="secondary-cta" type="submit" name="delete" >Delete</a>
                    </div>
                  </div>
              </div>
              <% } %>
              <% }else{ %>
                <h3 style="text-align: center;">There no doctors  </h3>
                <% } %>


            </div>
          </section>
   <%- include('./parts/footer') %>
</body>
</html>
