<!DOCTYPE html>
<html lang="en">
<head>
     <%- include('./parts/head') %>
     
     <title>Admin | Clinic</title>
     
  </head>
<body>
     <%- include('./parts/navbar_admin') %>
     
   
          <form action="/change" method="post" class="container">
            <% if (error) { %>
              <% if(state){ %>
                  <div class="alert alert-success" role="alert">
                      <%=message  %>
                  </div>
                  <% }else{ %>
               <div class="alert alert-warning" role="alert">
                   <%=message  %>
               </div>
               <% } %>
           <% } %>
            <div class="card">
              <div class="card-body">
                <h2 class="card-title">Change information of you're clinc</h2>
                </div>
                </div>
            <div  id="addDoctors" class=" section_form d-flex flex-wrap justify-between ">
              <div id="consultation-form" class="feed-form m-3" action="#">
                <input name="phone"  placeholder="Phone number">
                <input name="email"  placeholder="E-mail" type="email">
              </div>
              <div id="consultation-form" class="feed-form m-3" action="#">
                <label for="">Opeing Day</label>
                  <select name="appointmentDayOpen" class="form-control bg-black text-white">
                      <option value="Sunday">Sunday</option>
                      <option value="Monday">Monday</option>
                      <option value="Tuesday">Tuesday</option>
                      <option value="Wednesday">Wednesday</option>
                      <option value="Thursday">Thursday</option>
                  </select>
                  <div class="d-flex">
                    <input  class="col-sm-6 form-control" name="starthoursopen"  placeholder="Start hours" type="number">
                    <input class="col-sm-6 form-control" name="endhoursopen"  placeholder="End hours" type="number">
                  </div>
              </div>
              
            </div>
            <button class="button_submit" type="submit">Change</button>
          </form>
   <%- include('./parts/footer') %>
</body>
</html>