<!DOCTYPE html>
<html lang="en">
<head>

     <title>Health - Medical </title>
<%- include('./parts/head') %>
</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

     <section class="preloader">
          <div class="spinner">
               <span class="spinner-rotate"></span>
          </div>
     </section>


     <header>
          <div class="container">
               <div class="row">

                    <div class="col-md-4 col-sm-5">
                         <p>Welcome to a Professional Health medical</p>
                    </div>
                    <div class="col-md-8 col-sm-7 text-align-right">
                         <span class="phone-icon"><i class="fa fa-phone"></i> <%=data.phone %></span>
                         <span class="date-icon"><i class="fa fa-calendar-plus-o"></i> 6:00 AM - 10:00 PM (Sat-Thu)</span>
                         <span class="email-icon"><i class="fa fa-envelope-o"></i> <a href="#"> <%=data.email %></a></span>
                    </div>
               </div>
          </div>
     </header>

     <section class="navbar navbar-default navbar-static-top" role="navigation">
          <div class="container">
      
               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>
      
                    <a href="/" class="navbar-brand"><i class="fa fa-h-square"></i>ealth Care</a>
      
               </div>
      
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                      <li><a href="/#top" class="smoothScroll">Home</a></li>
                      <li><a href="/#about" class="smoothScroll">About Us</a></li>
                      <li><a href="/#team" class="smoothScroll">Our Staff</a></li>
                      <li><a href="/#news" class="smoothScroll">News</a></li>
                      <li><a href="/#google-map" class="smoothScroll">Contact</a></li>
                          <% if(check){ %>
                         <li class="appointment-btn"><a href="/Register">Register</a></li>
                         <li class="appointment-btn"><a href="/login">Login</a></li>
                         <% } else{ %>
                         <li class="appointment-btn"><a href="/logout">logout</a></li>
                         <% } %>
                    </ul>
               </div>
               
          </div>
      </section>

     <section id="home" class="slider" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">
                         <div class="owl-carousel owl-theme">
                              <div class="item item-first">
                                   <div class="caption">
                                        <div class="col-md-offset-1 col-md-10">
                                             <h3>Rendons votre vie plus heureuse</h3>
                                             <h1>Mode de vie sain</h1>
                                             <a href="#team" class="section-btn btn btn-default smoothScroll">Rencontrez nos médecins</a>
                                        </div>
                                   </div>
                              </div>

                              <div class="item item-second">
                                   <div class="caption">
                                        <div class="col-md-offset-1 col-md-10">
                                             <h3>En savoir plus sur un mode de vie sain</h3>
                                             <h1>Nouveau style de vie</h1>
                                             <a href="#about" class="section-btn btn btn-default btn-gray smoothScroll">More About Us</a>
                                        </div>
                                   </div>
                              </div>

                              <div class="item item-third">
                                   <div class="caption">
                                        <div class="col-md-offset-1 col-md-10">
                                             <h3>Bénéficiez des dernières actualités en matière de santé</h3>
                                             <h1>Vos bienfaits pour la santé</h1>
                                             <a href="#news" class="section-btn btn btn-default btn-blue smoothScroll">Read Stories</a>
                                        </div>
                                   </div>
                              </div>
                         </div>

               </div>
          </div>
     </section>


     <section id="about">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-6">
                         <div class="about-info">
                              <h2 class="wow fadeInUp" data-wow-delay="0.6s">Welcome to Your <i class="fa fa--square"></i>Private Clinic</h2>
                              <div class="wow fadeInUp" data-wow-delay="0.8s">
                                   <p>Welcome to Your Private Clinic, where your health and well-being are our top priorities.
                                         Our dedicated team of experienced medical professionals is committed to providing you with personalized,
                                         high-quality care in a comfortable and private setting.</p>
                              </div>
                              <figure class="profile wow fadeInUp" data-wow-delay="1s">
                                   <img src="/images/author-image.jpg" class="img-responsive" alt="">
                                   <figcaption>
                                        <h3>Dr. fichka Riyad</h3>
                                        <p>General Principal</p>
                                   </figcaption>
                              </figure>
                         </div>
                    </div>
                    
               </div>
          </div>
     </section>

     <section id="team" data-stellar-background-ratio="1">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-6">
                         <div class="about-info">
                              <h2 class="wow fadeInUp" data-wow-delay="0.1s">Our Doctors</h2>
                         </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-md-4 col-sm-6">
                         <div class="team-thumb wow fadeInUp" data-wow-delay="0.2s">
                              <img src="/images/team-image1.jpg" class="img-responsive" alt="">

                                   <div class="team-info">
                                        <h3>Hamadi hayatt</h3>
                                        <p>General Principal</p>
                                        <div class="team-contact-info">
                                             <p><i class="fa fa-phone"></i> 0663633152</p>
                                             <p><i class="fa fa-envelope-o"></i> <a href="#">general@company.com</a></p>
                                        </div>
                                        <ul class="social-icon">
                                             <li><a href="#" class="fa fa-facebook-square"></a></li>
                                             <li><a href="#" class="fa fa-envelope-o"></a></li>
                                             <li><a href="#" class="fa fa-twitter"></a></li>
                                        </ul>
                                   </div>

                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <div class="team-thumb wow fadeInUp" data-wow-delay="0.4s">
                              <img src="/images/team-image2.jpg" class="img-responsive" alt="">

                                   <div class="team-info">
                                        <h3>Ait mechdel Karim</h3>
                                        <p>Pregnancy</p>
                                        <div class="team-contact-info">
                                             <p><i class="fa fa-phone"></i> 0667315632</p>
                                             <p><i class="fa fa-envelope-o"></i> <a href="#">pregnancy@company.com</a></p>
                                        </div>
                                        <ul class="social-icon">
                                             <li><a href="#" class="fa fa-facebook-square"></a></li>
                                             <li><a href="#" class="fa fa-envelope-o"></a></li>
                                             <li><a href="#" class="fa fa-twitter"></a></li>
                                        </ul>
                                   </div>

                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <div class="team-thumb wow fadeInUp" data-wow-delay="0.6s">
                              <img src="/images/team-image3.jpg" class="img-responsive" alt="">

                                   <div class="team-info">
                                        <h3>Machoch Abdou</h3>
                                        <p>Cardiology</p>
                                        <div class="team-contact-info">
                                             <p><i class="fa fa-phone"></i> 010-040-0140</p>
                                             <p><i class="fa fa-envelope-o"></i> <a href="#">cardio@company.com</a></p>
                                        </div>
                                        <ul class="social-icon">
                                             <li><a href="#" class="fa fa-facebook-square"></a></li>
                                             <li><a href="#" class="fa fa-envelope-o"></a></li>
                                             <li><a href="#" class="fa fa-twitter"></a></li>
                                        </ul>
                                   </div>
                         </div>
                    </div>
                    
               </div>
          </div>
     </section>



     <section id="news" data-stellar-background-ratio="2.5">
          <div class="container">
              <div class="row">
      
                  <div class="col-md-12 col-sm-12">
                      <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                          <h2>Our Special Service</h2>
                      </div>
                  </div>
      
                  <div class="col-md-4 col-sm-6">
                      <div class="news-thumb wow fadeInUp" data-wow-delay="0.6s">
                          <img src="/images/9alb.jpg" class="ser_images" alt="Cardiology">
                          <h4>Cardiology</h4>
                          <p>
                              Our cardiology department provides comprehensive care for all heart-related conditions. We offer state-of-the-art diagnostic and therapeutic procedures to ensure the best outcomes for our patients.
                          </p>
                          <a href="/learn-more/1">Learn more</a>
                      </div>
                  </div>
      
                  <div class="col-md-4 col-sm-6">
                      <div class="news-thumb wow fadeInUp" data-wow-delay="0.6s">
                          <img src="/images/3aynin.jpg" class="ser_images" alt="Ophthalmology">
                          <h4>Ophthalmology</h4>
                          <p>
                              Our ophthalmology department specializes in the diagnosis and treatment of eye disorders. We provide advanced care for conditions like cataracts, glaucoma, and macular degeneration.
                          </p>
                          <a href="/learn-more/2">Learn more</a>
                      </div>
                  </div>
      
                  <div class="col-md-4 col-sm-6">
                      <div class="news-thumb wow fadeInUp" data-wow-delay="0.6s">
                          <img src="/images/teeth.jpg" class="ser_images" alt="Dentistry">
                          <h4>Dentistry</h4>
                          <p>
                              Our dentistry department offers a full range of dental services, from routine cleanings to complex oral surgeries. Our team is dedicated to providing top-notch care in a comfortable environment.
                          </p>
                          <a href="/learn-more/3">Learn more</a>
                      </div>
                  </div>
      
              </div>
          </div>
      </section>


        <!-- NEWS -->
     <section id="news" data-stellar-background-ratio="2.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                              <h2>Latest News</h2>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <div class="news-thumb wow fadeInUp" data-wow-delay="0.4s">
                              <a href="/technologe">
                                   <img src="/images/news-image1.jpg" class="img-responsive" alt="">
                              </a>
                              <div class="news-info">
                                   <span>March 06, 2024</span>
                                   <h3><a href="/technologe">About Amazing Technology</a></h3>
                                   <p>Maecenas risus neque, placerat volutpat tempor ut, vehicula et felis.</p>
                                  
                              </div>
                         </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                         <div class="news-thumb wow fadeInUp" data-wow-delay="0.6s">
                              <a href="/newshealth">
                                   <img src="/images/news-image2.jpg" class="img-responsive" alt="">
                              </a>
                              <div class="news-info">
                                   <span>February 20, 2024</span>
                                   <h3><a href="/newshealth">Our Doctors Experience</a></h3>
                                   <p>We provide an overiew of the achievements and competence of our doctors </p>
                                   
                              </div>
                         </div>
                    </div>


               </div>
          </div>
     </section>


     <!-- GOOGLE MAP -->
     <div class="container">
          
          <section class="" id="google-map">
               <!-- How to change your own map point
                    1. Go to Google Maps
                    2. Click on your location point
                    3. Click "Share" and choose "Embed map" tab
            4. Copy only URL and paste it within the src="" field below
	-->
     <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1611.268304622119!2d2.8723931561491045!3d33.798715737164805!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1262e30f462bfbbf%3A0xc00eeb6b73be0e86!2sH%C3%B4tel%20militaire%20Laghouat!5e1!3m2!1sfr!2sdz!4v1718058187405!5m2!1sfr!2sdz" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>           
</div>


     <!-- FOOTER -->
     <footer data-stellar-background-ratio="5">
          <div class="container">
               <div class="row">
      
                    <div class="col-md-4 col-sm-4">
                         <div class="footer-thumb"> 
                              <h4 class="wow fadeInUp" data-wow-delay="0.4s">Contact Info</h4>
                              <p>Fusce at libero iaculis, venenatis augue quis, pharetra lorem. Curabitur ut dolor eu elit consequat ultricies.</p>
      
                              <div class="contact-info">
                                   <p><i class="fa fa-phone"></i> <%=data.phone %></p>
                                   <p><i class="fa fa-envelope-o"></i> <a href="#"><%=data.email %></a></p>
                              </div>
                         </div>
                    </div>
      
                    <div class="col-md-4 col-sm-4"> 
                         <div class="footer-thumb"> 
                              <h4 class="wow fadeInUp" data-wow-delay="0.4s">Latest News</h4>
                              <div class="latest-stories">
                                   <div class="stories-image">
                                        <a href="#"><img src="/images/news-image.jpg" class="img-responsive" alt=""></a>
                                   </div>
                                   <div class="stories-info">
                                        <a href="#"><h5>Amazing Technology</h5></a>
                                        <span>March 08, 2023</span>
                                   </div>
                              </div>
      
                              <div class="latest-stories">
                                   <div class="stories-image">
                                        <a href="#"><img src="/images/news-image.jpg" class="img-responsive" alt=""></a>
                                   </div>
                                   <div class="stories-info">
                                        <a href="#"><h5>New Healing Process</h5></a>
                                        <span>February 20, 2024</span>
                                   </div>
                              </div>
                         </div>
                    </div>
      
                    <div class="col-md-4 col-sm-4"> 
                         <div class="footer-thumb">
                              <div class="opening-hours">
                                   <h4 class="wow fadeInUp" data-wow-delay="0.4s">Opening Hours</h4>
                                   <% for(i=0;i<days.length; i++){ %>
                                   <p><%=days[i].day_of_week  %> <span><%=days[i].start_hour  %>   - <%=days[i].end_hour  %>  </span></p>
                                   <% } %>
                                   <p>Friday <span>Closed</span></p>
                              </div> 
      
                              <ul class="social-icon">
                                   <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                                   <li><a href="#" class="fa fa-twitter"></a></li>
                                   <li><a href="#" class="fa fa-instagram"></a></li>
                              </ul>
                         </div>
                    </div>
      
                    <div class="col-md-12 col-sm-12 border-top">
                         <div class="col-md-4 col-sm-6"> </div>
                          </div>
                         <div class="col-md-2 col-sm-2 text-align-center">
                              <div class="angle-up-btn"> 
                                  <a href="#top" class="smoothScroll wow fadeInUp" data-wow-delay="1.2s"><i class="fa fa-angle-up"></i></a>
                              </div>
                         </div>   
                    </div>
                    
               </div>
          </div>
      </footer>
        <script src="/js/jquery.js"></script>
          <script src="/js/bootstrap.min.js"></script>
          <script src="/js/jquery.sticky.js"></script>
          <script src="/js/jquery.stellar.min.js"></script>
          <script src="/js/jquery.magnific-popup.min.js"></script>
          <script src="/js/magnific-popup-options.js"></script>
          <script src="/js/wow.min.js"></script>
          <script src="/js/smoothscroll.js"></script>
          <script src="/js/owl.carousel.min.js"></script>
          <script src="/js/custom.js"></script>
      
</body>
</html>