<!DOCTYPE html>
<html lang="en">
<head>
     <%- include('../parts/head') %>
     
     <title>Admin | Dashbored</title>
     
  </head>
<body>
     <%- include('../parts/navbar_admin') %>
     
   <section id="List" data-stellar-background-ratio="3">
    <div class="container">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">APPOINTMENT</h2>
          </div>
          </div>
          
    </div>
      <div class="container mt-1">
        <div class="row text-center">
        </div>
        <div class="d-flex justify-between">
          <form action="/home" method="post">
            <input type="input" name="search" placeholder="Search for" class="search-">
            <input type="submit"  value="Search" class="btn-search">
          </form>
          <form action="/home" method="post" class="d-flex justify-between">
            <select name="healthTopic" class="form-cnt ">
              <option value="General Health">General Health</option>
              <option value="Cardiology">Cardiology</option>
              <option value="Dental">Dental</option>
              <option value="Medical Research">Medical Research</option>
          </select>
          <select name="appointmentDay" class="form-cnt ">
            <option value="Sunday">Sunday</option>
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
          </select>
          <div class="">
            <input type="submit" onclick="console.log('hey');"  value="Filter" class="btn-next">
          </div>
        </form>
          </div>
          <% if(data.length > 0){ %>
            <% for(var i=0; i<data.length; i++){ %>
              <div class=" list_Card">
                  <div class="content-main">
                    <div class="">#<%=data[i].main_id  %>  </div>
                    <div class=""> Malade : <span class="time"><%=data[i].maladename  %></span> </div>
                    <div class=""> Email : <span class="time"><%=data[i].email  %></span> </div>
                    <div class="time"><%= new Date(data[i].date_current).toLocaleString('en-US', { timeZone: 'Europe/Berlin' }) %> </div>
                    <div class="text-link"><a> Doctor : <span class="time"><%=data[i].docname  %></span></a></div>
                    <div class="button-wrap">
                      <a href="/delete/<%=data[i].random %>" class="secondary-cta">Delete</a>
                    </div>
                  </div>
              </div>
              <% } %>
              <% }else{ %>
                <h3 style="text-align: center;">There's no appointment that are display  </h3>
                <% } %>

            </div>
            
          </section>
        <% if(true){  %>
          
          <% } %>
   <%- include('../parts/footer') %>
</body>
</html>